<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">

<style>

form {
  margin: auto;
  padding: 4rem;
  max-width: 480px;
}

input {
  margin-top: 1rem;
}

</style>

</head>


<body class="content">

<form class="content">
  <h1 class="has-text-centered">PyPI file browser</h1>
  <div class="field">
    <div class="control">
      <input
          class="input"
          type="text"
          name="project"
          placeholder="Enter project name">
      </input>
    </div>
  </div>
</form>

</body>
